.projectWindow{
background:rgba(255,255,255,0.2);
border-width:1px 1px 1px 1px;
border-style:solid;
border-color:white;
width:800px;
height:600px;
position:absolute;
}
.cvWindow{
background:rgba(255,255,255,0.2);
border-width:1px 1px 1px 1px;
border-style:solid;
border-color:white;
width:800px;
height:700px;
position:absolute;
}
.cvWindow{
bottom:80px;
left:200px;
z-index:9;
font-family:Times,Georgia,serif;
}
.projectWindow{
bottom:100px;
left:400px;
}
.windowTop{
height:40px;
margin-left:5px;
margin-right:5px;
}
.windowContent{
margin-left:5px;
margin-right:5px;
overflow:hidden;
position:fixed;
}
.close{
width:40px;
}
.close:hover{
background:rgba(255,0,0,0.5);
}
.max,.min{
width:30px;
}
.max:hover,.min:hover{
background:rgba(255,255,255,0.5);
}
.close,.max,.min{
float:right;
height:20px;
border-width:0px 1px 1px 0px;
border-color:rgba(204,204,204,0.6);
border-style:solid;
}
.min{
border-width:0px 1px 1px 1px;
}
.close>img{
margin-left:13px;
}
.max>img{
margin-top:4px;
margin-left:8px;
}
.min>img{
margin-top:4px;
margin-left:8px;
}
.bird{
position:absolute;
}
.bird>img{
filter:alpha(opacity=5);
-moz-opacity:0.05;
-khtml-opacity: 0.05;
opacity: 0.05;
}
#imgHoverZoom,#woodFormation,#picea,#yak{
float:right;
clear:both;
height:30px;
width:260px;
margin-right:-112px;
line-height:30px;
background-color:rgba(255,255,255,0.2);
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-radius:12px;
font-family:"Times New Roman",Georgia,Serif;
font-size:18px;
padding-left:15px;
overflow:hidden;
cursor:pointer;
}

#imgHoverZoom:hover,#woodFormation:hover,#picea:hover,#yak:hover{
background-color:rgba(0,255,0,0.4);
}
#woodFormation,#picea,#yak{
margin-top:30px;
}
#imgHoverZoom{
margin-top:50px;
}
